/* Estilos generales para usarlos en todas las pages */
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: #f0f5f8;
  width: 100%;
  height: 100%;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
ul {
  list-style-type: none;
}
.divider {
  height: 1px;
  background-color: #4e4e4f;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.padding-20 {
  padding: 20px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.light-blue-bg {
  background-color: #81b1d8 !important;
}
.light-gray-bg {
  background-color: #f0f5f8 !important;
}
.dark-gray-bg {
  background-color: #4e4e4f !important;
}
.light-gray-color {
  color: #f0f5f8 !important;
}
.dark-gray-color {
  color: #4e4e4f !important;
}
/* Seccion Avisos */
.text-card {
  border: 1px solid #4e4e4f;
  border-radius: 5px;
  width: 60%;
  background-color: white;
}
.tasks-list li::before {
  content: "✓";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
/* Seccion sobre mi */
.body-sobremi {
  display: flex;
  flex-direction: column;
}
.profile-img {
  height: 300px;
  width: 250px;
  border-radius: 10px;
}
.carousel-container-styles {
  background-color: #4e4e4f;
  padding: 20px;
  width: 75%;
  border-radius: 15px;
}
.item-position-center {
  place-items: center;
}
/* Seccion contacto */
.form-container {
  border: 1px solid #4e4e4f;
  border-radius: 15px;
  width: 70%;
  padding: 20px;
}
#mensajeValidacion {
  font-weight: bold;
  margin-top: 10px;
}
#mensajeValidacion.error {
  color: red;
}
#mensajeValidacion.success {
  color: green;
}
/* Seccion materia desarrollo web */
.classes-container {
  display: flex;
  gap: 20px;
}
.section-width-left {
  width: 35%;
}
.section-width-right {
  width: 65%;
}
.classes-card {
  border: 1px solid #4e4e4f;
  border-radius: 5px;
  background-color: white;
}
/* Seccion del footer */
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #81b1d8;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
footer p {
  margin-top: 5px !important;
}
/* Seccion de modo claro/oscuro */
body.modo-claro {
  background-color: #f0f5f8;
  color: #333;
}

body.modo-oscuro {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.modo-oscuro a {
  color: #a0c4ff;
}

.modo-toggle {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.toggle-label {
  margin-bottom: 0px;
  font-size: 14px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4e4e4f;
}

input:checked + .slider:before {
  transform: translateX(13px);
}
/* Ajuste responsive para tablets */
@media (max-width: 768px) {
  table th,
  table td {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  p,
  li {
    font-size: 0.9rem;
  }
  .classes-container {
    flex-wrap: wrap;
    width: 100%;
  }
  .section-width-right {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }
  .section-width-left {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

/* Ajuste responsive para celulares */
@media (max-width: 576px) {
  table th,
  table td {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
  section {
    margin: 10px;
  }
  p {
    font-size: 0.7rem;
  }
  footer {
    flex-direction: column;
    margin-top: 0;
  }
}
